#gameboard {
    width: 320px;
    height: 320px ;
    display: flex;
}

.square {
    height: 40px;
    width: 40px;
}

.beige {
    background-color: rgb (110, 110, 98);
}

.brown {
    background-color: rgb (169, 43, 43);
}