body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: lightsalmon;
  }
  
  .bar {
    padding-top: 1rem;
    background-color: teal;
    color: lightsalmon;
  }
  
  .bar p {
    left: 25rem;
  }
  
  .intro {
    height: 30rem;
    padding-top: 1rem;
    background-image: url('https://content.codecademy.com/PRO/independent-practice-projects/responsive-meetup-page/img/runner-splash.jpg');
    background-position: center;
    background-repeat: none;
  }
  
  .intro img {
    width: 15rem;
    display: block;
    margin: auto;
    margin-top: 5rem;
  }
  
  .intro h1 {
    color: Coral;
    font-size: 2rem;
    margin-top: 10rem;
    padding: 2rem;
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    text-align: center;
  }
  
  ul {
    list-style: none;
    margin: 0;
  }
  
  li {
    color: lightsalmon;
    padding: 0.5rem 1.5rem;
    margin-right: 1.5rem;
    display: inline-block;
  }
  
  .summary,
  .testimonial,
  .photos,
  .meetup {
    margin: 4em auto;
  }
  
  .summary {
    padding: 0 1rem;
  }
  
  .summary p {
    color: White;
  }
  
  .testimonial {
    background-color: teal;
    height: 20rem;
    padding: 0 1rem;
    padding-top: 1rem;
    color: yellow;
  }
  
  .testimonial h1 {
    font-size: 2.5rem;
    color: yellow;
  }
  
  .summary h2 {
    color: yellow;
  }
  
  .photos img {
    width: 30%;
    margin: 1.5%;
  }
  
  .meetup {
    margin-bottom: 2rem;
  }
  
  .meetup img {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
  }
  
  .meetup h1 {
    color: yellow;
    text-align: center;
  }
  
  @media only screen and (max-width: 1048px) {
  
    .photos img {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media only screen and (max-width: 640px) {
  
    .intro h1 {
      margin-top: 2rem;
    }
  
    .intro {
      max-height: 200px;
    }
  
    .photos img {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  
    li {
      display: block;
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 320px) {
  
    .testimonial h1 {
      font-size: 2rem;
    }
  
    .photos img {
      width: 100%;
    }
  }