@font-face {
	font-family: WorkSans;
	src: url("https://content.codecademy.com/courses/learn-css-grid/project-ii/Resources/Work_Sans/WorkSans-Regular.ttf");
}
@font-face {
	font-family: Poppins;
	src: url("https://content.codecademy.com/courses/learn-css-grid/project-ii/Resources/Poppins/Poppins-Regular.ttf");
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(359deg, #3023ae, #eb7f7b);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  display: grid;
  grid-template-columns: 10px 1fr 3fr 1fr;
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: rgba(120,70,154, 0.2);
  text-align: center;
  top: 0;
  left: 0;
  justify-content: space-around;
}

.navbar h1 {
  grid-column: 3 / 4;
  font-family: Poppins;
  color: #ffffff;
  margin: 0;
  align-self: center;
}

.container {
	width: 1000px; 
	display: grid;
		/*Right now, the task board looks pretty cluttered. In style.css,
	 		let’s make the <div> with class container a grid container so that 
	 		we can start to arrange these tasks better*/
	grid-template-columns: repeat(3, 1fr);
		/*That didn’t have any immediate effect, 
			but it allows us to apply grid properties to the container div. 
			Let’s start by giving the .container ruleset three equally sized 
			columns by using the grid-template-columns property.
			Note that only 2 of columns will be filled with content at this point.*/
	grid-column-gap: 20px;
		/*Now, let’s add a gap of 20 pixels in between the columns.*/
}

.search-bar {
  grid-column: 2 / 3;
  width: 100%;
  height: 40px;
  background-color: rgba(255,255,255, 0.35);
  top: 8px;
  position: absolute;
}

input {
	display: inline-block;
	border: none;
	background: transparent;
	font-size: 14px;
}

.search-bar input {
	float: left;
	height: 18px;
  margin-top: 9px;
  margin-left: 7px;	
}

.card-column input {
	height: 18px;
  margin-left: 15px;
  display: grid;
  grid-template-columns: 20px repeat(5, 100px);
  align-content: space-around;	
}

.search-icon {
	float: left;	
  margin-top: 9px;
  margin-left: 7px;
}

.card-column {
	background-color: #ffffff;
	gap: 10px;
	min-height: 700px;
	display: grid;
	grid-template-rows: 20px repeat(5, 100px);
		/*Each card column has a heading above the 5 task cards. 
			We want the heading to take up 20px and each task card to take up 100px.
			Inside the .card-column ruleset, set the grid-template-rows property to 
			have 1 20px row and 5 100px rows. Use the repeat function to make your code clean.*/
	align-content: space-between;
		/*In order to have the task cards spaced evenly in each card, 
			inside .card-column, use the align-content property to set an even amount of vertical space around each card.*/
	grid-auto-rows: 100px;
		/*We expect to complete a lot of projects, but we don’t know how many. 
			Since those projects will be added as task cards to the Completed Projects column, 
			it will be helpful to use implicit grid properties instead of the explicit properties 
			we have been using so far. We know the first row with the heading should be explicitly 
			20px, just as the other heading rows are. Every additional row, if it exists, should be 
			implicitly set. Inside .card-column, use the grid-auto-rows property to implicitly set rows to 100px.*/
}

.card-column h2 {
	padding: 0;
  margin: 0 auto;
  font-family: WorkSans;
  font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.2px;
	text-align: left;
	color: #2f2f2f;
	display: inline-block;
}

.taskgroup-heading {
	margin-left: 15px;
	margin-top: 7px;
}

.site-body {
	position: absolute;
	top: 100px;
	margin-left: 50px;
}

.card {
	margin-right: 15px;
	margin-left: 15px;
	background-color: rgba(216, 216, 216, 0.21);
	border: solid 1px rgba(151,151,151,0.21);
	position: relative;
	font-family: WorkSans;
}

.rectangle {
  width: 57px;
  height: 6px;
  position: relative;
  display: inline-block;
  margin-left: 7px;
}

.list-icon {
	display: inline-block;
	margin-left: 7px;
	margin-bottom: 5px;
	position: absolute;
	bottom: 0;
}

.task-description {
	margin-left: 7px;
	margin-top: 0;
	font-family: WorkSans;
	font-size: 14px;
	letter-spacing: 0.2px;
	text-align: left;
	color: #2f2f2f;
}

.ellipsis-icon {
	display: inline-block;
	float: none;
  margin-right: 15px;
}

.task-date {
	display: inline-block;
	font-family: WorkSans;
	font-size: 10px;
	letter-spacing: 0.1px;
	text-align: left;
	color: #9b9b9b;
	position: absolute;
  bottom: 0;
  margin-bottom: 5px;
  left: 25px;
}

.yellow {
	background-color: #fdcb1e;
}

.orange {
	background-color: #ff7700;
}

.green {
	background-color: #50e3c2;
}

.blue {
	background-color: #3343e5;
}

.add-card {
	background-color: rgba(216, 216, 216, 0.21);
  border: solid 1px rgba(151,151,151,0.21);
  color: #2f2f2f;
}

.completed-projects {
	grid-template-rows: 20px;
	grid-auto-rows: 100px;
}