body {
    margin: 0;
    font-family: "Lexend Mega", sans-serif;
    color: black;
    background-color: white;
    font-size: 22px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
}

.navbar p {
    display: inline-block;
    padding: 10px 10px;
}

h2, h3, h4, p {
    margin: 0;
    padding: 10px;
}

a {
    color: black;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.main {
    padding-top: 35px;
    opacity: 0.9;
}

.mission {
    display: flex;
    height: 300px;
    background-image: url(https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/skyscrapers.jpg);
    padding-top: 35px;
}

.mission .content {
    margin: auto;
    background-color: white;
    width: 100%;
}

#portfolio {
    min-height: 500px;
    margin: auto;
    padding-top: 70px;
}

.team {
    background-image: url("https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/blurred-road.jpg");
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.teammate {
    padding: 10px;
    color: white;
    flex-basis: 280px;
}

.teammate img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
}

.contact, .copyright {
    padding-top: 20px;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

title {
    display: none;
}

link {
    display: none;
}

script {
    display: none;
}

.header {
    display: flex;
    flex-direction: column;
}